 @charset "utf-8";
.result_stati { text-align: center; background: url(../images/result_stati.png) no-repeat right bottom #f2f2f2; border: #dfdfdf 1px solid; padding: 15px 0; margin-top: 14px; font: 14px/1.85 "微软雅黑", "宋体" }
.result_stati strong { color: #F30; font-size: 18px; font-weight: normal; padding: 0 5px; }
.left_sidebar{ width:210px;}
.right_sidebar{ width:238px; float:right; overflow: hidden; margin-bottom: 30px;}
.btn_bzfw{ margin-top:10px;}
.btn_bzfw a{ display:block; background:#959dd8; font-size:18px; color:#fff; text-align:center; height:44px; line-height:44px; border:#8b85bc 1px solid;}
.btn_bzfw a:hover{ text-decoration:none; background:#8386bf;}
.right_sidebar .SidebarBox{ border:#e7e7e7 1px solid}
.right_sidebar .SidebarBox .title{ background:#eef3fa; border-bottom:#dee2eb 1px solid; line-height:40px; height:40px;}
.right_sidebar .SidebarBox .title h3{ margin:0 10px;line-height:40px; height:40px; color:#427dc9; font-weight: normal;}
.right_con{ margin-left:230px; margin-right:258px;}
.FmNav { /*border: #cccccc 1px solid;*/
	/* border-top: 0; */
	margin-top: 14px; }
.FmNav_list dt, .FmNav_list dd { position: relative; background: #f3f3f3; border-top: #dfdfdf 1px solid; font-weight: normal; font-size: 16px; color: #417dc9; line-height: 29px; padding: 4px 13px; cursor: pointer; }
.FmNav_list dl dd { padding-left: 18px; }
.FmNav_list dl dl dd { padding-left: 23px; }
.FmNav_list dd { background: #fff; font-size: 14px; }
.FmNav_list dt div, .FmNav_list dd div { padding-right: 46px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.FmNav_list dt span, .FmNav_list dd span { position: absolute; right: 8px; top: 4px; font-size: 12px; color: #626262; }
.FmNav_list dt:hover, .FmNav_list dt.selected { background: #1a64b6; }
.FmNav_list dd:hover, .FmNav_list dd.selected { background: #568bcf; }
.FmNav_list dt:hover div, .FmNav_list dt:hover span, .FmNav_list dd:hover div, .FmNav_list dd:hover span, .FmNav_list dt.selected div, .FmNav_list dt.selected span, .FmNav_list dd.selected div, .FmNav_list dd.selected span { color: #fff; }
.FmNav_list dd input { display: inline-block; *display: inline;
 *zoom: 1;
vertical-align: middle; margin-right: 2px; margin-bottom: 2px; }
.resultpage { color: #1a4780; border-bottom: #b7b7b7 1px dotted; margin-bottom: 15px; }
.hit_top_new { margin-top: 10px; font-size: 14px; width: 100%; overflow: hidden }
.hit_top_new p { float: left; display: inline-block; *display: inline;
 *zoom: 1;
line-height: 1.75; /*width:33%*/}
.AgainSearch { /* clear: both;*/ display: block; padding-right:0px; padding-top: 5px; }
.AgainSearch input { border: #afafaf 1px solid; line-height: normal; margin: 5px 0; padding: 0px 5px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; height: 26px; * height: 24px;
vertical-align: middle; }
.Aganinsearch_other{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;vertical-align: middle; display:inline-block; text-align:center;}
.AgainSearch input.againbtn { background: #8ecab1; border:0; text-align: center; color: #fff; font-size: 12px; height: 26px; height: 28px\9; line-height: 22px; line-height: 21px\9; padding: 2px 10px; }
/*智能扩展*/

.SmartExtend { /* clear: both; */ position: relative; }
.SmartExtendBtn { position: absolute; right: 0; top: -33px; }
.state { display: inline-block; *display:inline;
*zoom:1;
padding-right: 0px; padding-left:10px; line-height:33px;}
.icon_fenxi { width: 47px; height: 33px; padding:0px 0px; border-right:#e7e8ec 1px solid; background: url(../images/icon_all.png) no-repeat -190px 7px; }
.state_purchased{ color:#767877; vertical-align:middle; padding-left:4px;}
/*检索结果 带摘要*/

.ResultBlock { padding: 0px 0; }
.ResultList { position: relative; margin-top: 10px;/*clear: both;*/ }
.ResultCheck { position: absolute; left: 8px; top: 7px; width: 20px; z-index: 99 }
.ResultCont { /* padding-left: 24px; */ border-bottom: #dfdfdf 1px solid; position: relative; *zoom: 1;
}
.ResultCont .title { font-size: 16px; /*width: 100%;*/ font-weight: normal; color: #444444; line-height: 30px; z-index: 9; padding-left: 24px; }
.ResultCont .title a { color: #296eb9 }
.ResultCont .title strong { color: #444444; font-weight: normal; }
.ResultCont .title em { color: #ef7d24; font-style: normal; }
.ResultCont .OperatBtn1 { width: 27%; height: 16px; float: right; text-align: right; padding: 8px 0 2px 30px; font-size: 12px; font-weight: normal; position:relative; }
.ResultCont .OperatBtn1> a { display: block; float: right; padding: 0 0 0 15px; line-height: 16px; color: #417dc9; }
 .ResultCont .title a:visited { color: #5c219e; }
 .ResultBlock .TLwname a:visited { color: #5c219e; }
 .ResultCont .title a:hover { color: #ff6c00; }
.ResultCont .OperatBtn1 a .icon { width: 20px; height: 16px; background-image: url(../images/icon_all.png); background-repeat: no-repeat; }
.icon_export { background-position: -0px 0; }
.icon_favorite { background-position: -50px 0; }
.icon_share { background-position: -100px 0; }
.icon_Miner { float: none; display: inline-block; *display: inline;
 *zoom: 1;
width: 19px; height: 19px; background: url(../images/icon_all.png) no-repeat -250px 0; margin-left: 20px; z-index: 100; }
.ResultMoreinfo { color: #717171; font-size: 12px; line-height: 2; padding: 4px 0 4px 24px; overflow: hidden; vertical-align: middle; }
.ResultMoreinfo div { /* float: left;*/ display: inline-block; *display: inline;
 *zoom: 1;
vertical-align: middle; }
.ResultMoreinfo .book { width: 100%; }
.ResultMoreinfo .book .summary,.ResultMoreinfo .book .Keyword{ padding-left:0}
.ResultMoreinfo .author {padding-right: 10px;}
.ResultMoreinfo span { vertical-align: middle; }
.ResultMoreinfo span.blockspan { vertical-align: middle; padding-right: 10px; }
.ResultMoreinfo a { padding: 0 5px 0 0; /* vertical-align: middle;  */}
.ResultMoreinfo .Label { overflow: hidden; }
.ResultMoreinfo .Label a, .ResultMoreinfo .Label span { 
	/*display: inline-block; *display: inline;*zoom: 1;background: #a69fd5; border: 0; color: #fff; line-height: 14px; padding: 3px 5px; margin: 4px 2px; font-size: 12px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; vertical-align: middle; */
	display: inline-block;*display: inline;*zoom: 1;background: #ffffff;border: 0;color: #a69fd5;line-height: 14px;padding: 2px 5px;margin: 2px;font-size: 12px;-webkit-border-radius: 2px;-moz-border-radius: 2px;-o-border-radius: 2px;border-radius: 2px;border: solid 1px #a69fd5;vertical-align: middle;position: relative;top: -1px;
}
.ResultMoreinfo .Label a:hover { text-decoration: none; border: #077c04 1px solid; }
.ResultCont .summary { color: #565656; font-size:12px; margin-bottom: 5px;max-height:40px; line-height: 20px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; padding-left: 24px; }

.ResultCont .Keyword { max-height: 76px;overflow: hidden; margin: 7px 0 12px;  padding-left: 24px;color:#7d7f7e;}

.ResultCont .Keyword:before{ content:"\5173 \952E \8BCD :"; font-size:12px;}
.ResultCont .Keyword a { *display: inline; *zoom: 1;vertical-align: middle;  border:0;color:#7d7f7e; line-height: normal; text-decoration:underline; padding:0px; margin: 0px 2px; font-size:12px;}
.ResultCont .Keyword a:hover {  color: #ec7e25; }
.ResultCont .Keyword a em, .ResultCont .author  a em{ color: #ef7d24; font-style: normal; }
.OperatBtn2 { overflow: hidden; background:#eef3f9; padding:5px 24px; border-bottom:#cccccc 1px dotted; font-size: 12px; margin: 10px 0 14px 0; line-height: 2; color:#7d7f7e; }
.Mbtn { padding-right: 20px; /*overflow: hidden; */float: left; position: relative; }
.Mbtn > a { font-size: 12px; /*width:52px; */text-align:center; display: block; float: left; margin: 0 5px 0 0; border: #91b2df 1px solid; background: #eef3f9; -webkit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; color: #6a97d0; overflow: hidden; }
.Mbtn > a:hover { text-decoration: none; background: #6a97d0; color:#fff; }
.Mbtn .other_link{ float:left; position:relative;margin: 15px 10px 5px 0;
    height: 36px;}
.Mbtn .other_link a{  line-height:37px; display:inline-block; font-size:14px; text-decoration:underline; }
.Mbtn .other_link a:hover{color:#ff6c00}
.Mbtn .other_span{float:left; position: relative;}
.Mbtn .other_link .otherlink_pop{ position: absolute; z-index:99999; width:100px;top:27px; left:0; background:#fff;border:#cccccc 1px solid; padding:10px 15px;}
.Mbtn .other_link .otherlink_pop > a{ display:block; line-height:28px;}
.Mbtn .other_span .otherlink_pop{ position: absolute; z-index:99999; width:100px;top:42px; left:0; background:#fff;border:#cccccc 1px solid; padding:10px 15px;}
/* .Mbtn .other_span .otherlink_pop{ position: absolute; z-index:99999; width:100px;top:51px; left: -2px; background:#fff;border:#cccccc 1px solid; padding:10px 15px;} */
.Mbtn .other_span .otherlink_pop > a{ display:block; line-height:28px;}
.Mbtn a i{ display:none}
.share_span{ float:left; position: relative;}
.summary em { font-style: normal; color: #ec7e25; }
.col_9 { color: #717171; }
.icon_transmit { width: 17px; height: 16px; background-position: -251px -50px; margin-right: 5px; }
/* .ResultMoreinfo img { padding-right: 25px; float: left; } */
/* .ResultMoreinfo .f_r { margin-left: 125px; display: block } */
.book .summary { font-size: 12px; }
.ResultMoreinfo .book .Keyword { font-size: 14px; margin: 0px 0 5px; }
.ResultCont .video { width: 219px;/* height: 270px;*/ background: #fff; margin: 5px 12px 0 0; color: #717171; border: 1px solid #dfdfdf; display: inline-block; *display: inline; *zoom: 1; margin-bottom:15px; position:relative;}
.ResultCont .video .brief { text-align: left; line-height: 25px; }
.ResultCont .video .brief img{ width:219px; height:162px;}
.ResultCont .no_right { margin-right: 0; }
.brief .brief_check { display: inline-block; *display: inline; *zoom: 1; padding-left:5px; font-size:12px;}
.video .brief .brief_check { padding-left:0;}
.ResultCont .video .brief_title { padding-left: 5px;overflow: hidden; height: 19px; display: inline-block; *display: inline; *zoom: 1;text-overflow:ellipsis; white-space:nowrap; width:200px;}
.left_con_middle .ResultCont .video{ margin-right:1px;}
.ResultCont .video em { font-style: normal; color: #ec7e25; }
.ResultCont .video > a { color: #717171; }
.ResultCont .video .time { font-size: 12px; color: #878787; float:left; padding-left:30px; background: url(../images/icon_time.png) no-repeat 8px center;}
.ResultCont .brief .OperatBtn3 {padding: 0 0 3px 0; margin: 0 0 0px 10px; text-align: right; float:right; }
.ResultCont .brief .OperatBtn3 > a { display: inline-block; *display: inline;
 *zoom: 1;
padding: 0 8px 0 0; color: #417dc9; font-size: 12px; font-weight: normal; }
.ResultCont .brief .OperatBtn3 a:hover { color: #ff0000; }
.ResultCont .brief .OperatBtn3 a .icon { width: 20px; height: 20px; }
.ResultCont .brief .OperatBtn3 .icon_export { background-position: 0px 0px; }
.ResultCont .brief .OperatBtn3 .icon_favorite { background-position: -147px 0px; }
.ResultCont .brief .OperatBtn3 .icon_f { background-position: -50px 0px; }
.ResultCont .brief .OperatBtn3 .icon_share { background-position: -96px 2px; }
.ResultCont .brief .OperatBtn3 .icon_down { background-position: -196px -48px; }
.ResultCont .video .brief .channel { text-align: left; background:#eef3fa; clear:both; font-size: 12px; line-height: 2; padding: 3px 0 3px 10px; color: #333; }
.ResultCont .video .brief .channel a { color: #417dc9; }
.ResultCont .video .brief .channel a:hover { color: #ff0000; }
.ResultCont .video .brief .channel .col_9 { color: #717171; }
.no_border { border: 0; }
.page { padding: 20px 0 45px 140px; overflow: hidden; font-size: 14px; }
.page a { width: 35px; height: 35px; text-align: center; line-height: 35px; color: #898989; font-weight: bold; margin: 0 6px 0 6px; border: 1px solid #dfdfdf; display: inline-block; *display: inline;
 *zoom: 1;
background: #f5f5f5; background: -webkit-linear-gradient(top, #fefefe, #f0f0f0); -webkit-border-radius: 3px; -moz-border-radius: 5px; -o-border-radius: 5px; border-radius: 3px; }
.page .cur { background: #315bcd; color: #fff; border: 1px solid #315bcd; }
.page span { padding: 0 0 0 5px; color: #898989; }
.page input { border: #afafaf 1px solid; line-height: 22px; padding: 0 5px; vertical-align: middle; width: 40px; height: 33px; }
.supplement { border: 1px solid #dfdfdf; padding: 0 20px 20px 20px; color: #717171; margin: 0 0 50px; }
.supplement span { padding: 0 20px; color: #ff0000; font-size: 18px; position: relative; top: -15px; background: #ffffff; }
.supplement a { text-decoration: underline; color: #417dc9; }
.supplement a:hover { color: #ff0000; }
/*详情页*/

.crumbs { line-height: 40px; color: #484848; }
.crumbs a { color: #427dc9; }
.crumbs a:hover { color: #ff0000; }
.left_con { float: left; width: 960px; min-height:545px;}
 @media(min-width:992px) {
.left_con { width: 630px }
}
 @media(min-width:1248px) {
.left_con { width: 730px }
}
 @media(min-width:1310px) {
.left_con { width: 960px }
}
 @media(max-width:991px) {
.left_con { width: 528px }
}
.left_con_top { position: relative;padding: 15px 20px 10px; border-top: 1px solid #dfdfdf;border-bottom: 1px solid #dfdfdf; margin: 0 0 20px; }
.left_con_top:after { clear: both; content: '.'; display: block; width: 0; height: 0; visibility: hidden; }
.left_con_top .title { font-size: 24px; font-weight: normal; color: #427dc9; line-height: 35px; position: relative; }
.left_con_top_left { float: left; padding: 10px 20px 0 0; }
.left_con_top_right { }
.icon_export2 { float: none; display: inline-block; *display: inline;
 *zoom: 1;
position: relative; width: 19px; height: 19px; background: url(../images/icon_all.png) no-repeat -304px 0; margin-left: 10px; }
.icon_share2 { float: none; display: inline-block; *display: inline;
 *zoom: 1;  position: relative; height: 19px; background: url(../images/icon_all.png) no-repeat -354px 0; margin-left: 5px; }
.English { color: #8e8e8e; line-height: 27px; }
.abstract { margin-bottom: 13px; line-height: 30px; color: #666666; padding: 10px 0 0; clear: both; }
.abstract1 { padding: 0; }
.abstract em { font-weight: bold; font-style: normal;color: #898989 }
.abstract_title { color: #417dc9; margin: 10px 0 0; cursor: pointer; }
.info { padding: 0 0; clear: both; }
.info li { line-height: 35px; overflow: hidden; }
.info_left { text-align: left; width: 115px; float: left; color: #898989; font-weight: bold; }
.achievements .info_left { padding-left:10px; }
.info_right { padding: 0 0 0 5px; margin-left: 115px; color: #417dc9; }
.icon_name { float: none; display: inline-block; *display: inline;
 *zoom: 1;
width: 19px; height: 19px; background: url(../images/icon_all.png) no-repeat -403px 0; margin: 0 10px;/* margin-bottom: -3px; vertical-align: baseline; */ }
 .icon_key_word { float: none; display: inline-block; *display: inline;
  *zoom: 1;
  width: 19px; height: 19px; background: url(../images/icon_key_word.png) no-repeat; margin: 0 20px -2px 3px; vertical-align: baseline; }
.author { color: #898989; }
.info_right_name { position: relative; }
.basic { background: #fff; border: 1px solid #bbd1ee; box-shadow: 0px 3px 4px #959595; width: 235px; height: 76px; border-radius: 3px; z-index: 10; color: #717171; line-height: 28px; position: absolute; top: 28.5%; left: 26%; padding-left: 16px; }
.b_box { position: absolute; top: 16%; left: 20%; }
.b_box2 { position: absolute; top: 23%; left: 20%; }
.b_box3 { position: absolute; top: 18.5%; left: 20%; }
.b_box4 { position: absolute; top: 28%; left: 19%; }
.b_box5 { width: 240px; position: absolute; top: 10%; left: 19%; }
.b_box6 { position: absolute; top: 15%; left: 19%; }
.b_box7 { position: absolute; top: 23.5%; left: 25%; }
.basic span { padding-left: 15px; width: 90px; color: #333; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.basic div { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.photo { width: 50px; height: 50px; border-radius: 25px; background: url(../images/photo.png) no-repeat; margin: 10px 10px 0 10px; display: none; float: left; }
.photo_name { font-size: 16px; font-weight: bold; line-height: 28px; margin: 10px 0 0; display: inline-block; *display: inline;
 *zoom: 1;
}
.follow { height: 25px; border: 1px solid #efb2b2; display: inline-block; *display: inline;
 *zoom: 1;
padding: 0 10px 0 20px; line-height: 25px; background: url(../images/follow.png) no-repeat 7px 7px; margin-left: 10px; border-radius: 5px; }
.Label2 .college { color: #417dc9; border: 0; font-size: 14px; background: none; padding: 0; }
.Label2 .college:hover { color: #ff0000; }
.Label2 a { display: inline-block; *display: inline;
 *zoom: 1;
background: #a69fd5; border: 0; color: #fff; line-height: 14px; padding: 3px 5px; margin: 4px 2px; font-size: 12px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
.Label2 .physica { padding-left: 0; margin-left: 0; }
.Mbtn .read .icon { background: url(./images/result_list_icons.png); width: 16px; height: 17px; display:inline-block; margin-right: 7px;}
.Mbtn .read .icon_intensive { background-image: url(../images/icon_intensive_book.png); width: 36px; height: 36px; display:inline-block; position: absolute; left: 10px; top: 6px; margin: 0 10px 0 0; }
.Mbtn .detail_icon_collection:hover>i { background-position: -2px -108px; }
.Mbtn .detail_icon_export:hover>i { background-position: -68px -60px; }
.Mbtn .detail_icon_share:hover>i { background-position: 0 -61px;}
.Mbtn .detail_icon_book:hover>i { background-position: -50px -61px; }
.Mbtn .detail_icon_down:hover>i { background-position: -33px -60px; }
.Mbtn .detail_icon_paper:hover>i {background-position: -2px -19px;}
.Mbtn .read .icon_book { background-position: -50px -44px; }
.Mbtn .read .icon_original { background-position: -191px -37px; }
.Mbtn .read .icon_down { background-position: -33px -44px; }
.Mbtn .read .icon_other { background: url(./images/icon_other.png); width: 14px; height: 14px; display:inline-block; margin: -9px 6px 0 9px; }

.Mbtn .read .icon_collection { background: url(../images/newIconFont.png) no-repeat -2px -127px;}
.Mbtn .read .icon_export { background-position: -68px -44px; }
.Mbtn .read .icon_share { background-position: 0 -44px; }
.Mbtn .read .icon_transmit { background-position: -191px -37px; }
.Mbtn .read:hover { text-decoration: none; background: #417dc9;color:#fff; }
.Mbtn .read .icon_free { width: 21px; background: url(../images/newIconFont.png) no-repeat -2px -35px;margin-right: 2px; }
 .Mbtn .detail_icon_free:hover>i { background-position: -2px -53px; }
 .Mbtn .detail_icon_other:hover>i { background: url(../images/newIconFont.png) no-repeat -2px -90px; width: 14px;  height: 14px; display: inline-block; margin: -9px 6px 0 9px;  }
 .Mbtn .read {
 display: block;
 margin: 15px 15px 5px 0;
 font-size: 12px;
 width: 63px;
 height: 22px;
 background: #fff;
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 -o-border-radius: 3px;
 border-radius: 3px;
 color: #1b5db1;
 position: relative;
 overflow: hidden;
 vertical-align: middle;
 line-height: 22px;
 border: solid 1px #417dc9;
 }
 .Mbtn .detail_icon_book, .Mbtn .detail_icon_paper, .Mbtn .detail_icon_paper, .Mbtn .detail_icon_free, .Mbtn .detail_icon_other {
   width: 88px;
 }
 .Mbtn .read .icon_book {
  background: url(../images/result_list_icons.png) ;
  width: 18px;
  height: 16px;
  display: inline-block;
  background-position: -50px -44px;
  margin-right: 6px;
  position: relative;
 }
 .Mbtn .read .icon_paper {
  background: url(../images/newIconFont.png) no-repeat -2px -2px;
  width: 16px;
  height: 16px;
 }
.left_con_middle { border-bottom: 1px solid #dfdfdf;margin-bottom:36px; /*overflow: hidden; */}
.left_con_middle .title { border-bottom: 4px solid #417dc9; overflow: hidden; }
.left_con_middle .title a { padding: 12px 17px 12px; display: inline-block; *display: inline;
 *zoom: 1;
font-size: 16px; font-weight: bold; margin: 0 8px 0 0; }
.left_con_middle .title a:hover { text-decoration: none; }
.left_con_middle .title .cur { background: #417dc9; color: #ffffff; }
.reference { margin: 0 20px 0 20px;  padding: 0 0 20px 0; /*border-bottom: 1px dotted #484848;overflow: hidden;*/ }
.reference:last-child { border-bottom: 0 }
.mt_10 { margin-top: 10px; }
.reference .subject { font-size: 16px; color: #417dc9; height: 45px; line-height: 45px; font-weight: bold; margin-bottom: 10px; }
.reference > span { width: 8px; height: 24px; background: #417dc9; display: inline-block; *display: inline;
*zoom: 1;
margin: 0px 10px 0 0; position: relative; top: 5px; }
/* .reference .laypageskin_molv span { width: auto; height: auto; background: none; display: inline-block; margin: 0px 10px 0 0; position: inherit; top: 0px; } */
.subject a { font-size: 14px; font-weight: normal; float: right; text-decoration: underline; }
.journal h4 { padding-left: 20px; line-height: 40px; background: #f3f3f3; color: #484848; margin-bottom: 15px; }
.survey { font-size: 12px; line-height: 24px; color: #484848; margin-bottom: 5px; overflow: hidden; position: relative}
/*.survey span.Sbtn { font-size: 12px; display: inline-block; margin: 0 10px 0 10px; width: 22px; height: 22px; border: 0; background: #dadada; color: #417dc9; overflow: hidden; line-height: 22px;!* position: absolute; left: 0; top: 0;*! }*/
.survey span.num { position: absolute; left: 0px; background: none; top: 6px; text-align: right; width: 24px; }
.survey .icon_Ddown { padding-left: 19px; width: 19px; height: 19px; background-image: url(../css/images/detail_down.png); }
.survey .icon_Udown { padding-left: 19px; width: 19px; height: 19px; background-image: url(../css/images/detail_undown.png); }
.right { padding: 0; float: left; border:1px solid #ccc;border-top:none;}
.relevant { /*border-bottom: 1px solid #dfdfdf;*/ width: 230px; padding: 0 0 15px 0;overflow: hidden; }
.theme { font-size: 16px; font-weight: bold; line-height: 36px; background-color:#e6e6e6;padding-left:10px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;margin-bottom:15px; }
.array { padding-left:20px;line-height: 28px; height: 28px; width: 210px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.doubrow { line-height: 28px; height: 28px; width: 95px; float: left; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.doubrow:nth-child(even) { padding-left: 20px; }
.array b { font-size: 12px; font-weight: normal; color: #898989; }
.relevant span { display:inline-block;/*margin-right:20px; display:inline-block; overflow:hidden;*/ }
.relevant span a { line-height: 28px; height: 28px; width: 67px; overflow: hidden; display: inline-block; *display: inline;
 *zoom: 1;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.My { width: 230px; padding: 0 0 15px 0; }
.computer { float: left; font-size: 12px; background: #e6ecf8; margin: 0 5px 10px 0;/* */ }
.no_mr { margin-right: 0; }
.My .add { float: left }
.computer .num { width: 24px; height: 26px; background: #417dc9; color: #fff; display: inline-block; *display: inline;
 *zoom: 1;
text-align: center; line-height: 26px; -webkit-border-radius: 3px 0 0 3px; -moz-border-radius: 5px 0 0 5px; -o-border-radius: 5px 0 0 5px; border-radius: 3px 0 0 3px; vertical-align: middle; }
.computer a { height: 26px; line-height: 26px; color: #3f3f3f; max-width: 151px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: inline-block; padding-left:5px;*display: inline;
 *zoom: 1;
vertical-align: middle; }
.icon_dele { display: inline-block; *display: inline;
 *zoom: 1;
background-image: url(../images/icon_all.png); background-repeat: no-repeat; width: 16px; height: 14px; background-position: -250px -100px; margin: 0 0 0 8px; position: relative; top: 4px; vertical-align: middle; }
.add a { font-size: 12px; line-height: 26px; padding-left: 3px; color: #404040; white-space: nowrap; }
.icon_add { display: inline-block; *display: inline;
 *zoom: 1;
background-image: url(../images/icon_all.png); background-repeat: no-repeat; width: 16px; height: 14px; background-position: -304px -100px; margin: 0 0 0 8px; position: relative; top: 4px; }
.achievements h5 { font-size: 16px; color:#484848;
background: #f3f3f3; padding: 0 0 0 10px; font-weight: normal; line-height: 35px; margin: 20px 0 20px 0; }
.m_30 { margin-top: 30px; }
.included { font-size: 14px; font-weight: normal; display: inline-block; *display: inline;
 *zoom: 1;
text-decoration: none; padding: 0 10px 0; background: #f3f3f3; line-height: 25px; margin-left: 10px; cursor: pointer; }
.catalog { line-height: 32px; }
.edit { float: left; font-size: 12px; color: #484848; }
.subDirectory { font-size: 12px; color: #484848; }
.subDirectory a { margin: 0 15px; }
.reference .books { font-size: 12px; margin-top: 5px; color: #484848; }
.detailed { line-height: 22px; margin: 5px 0 20px; color: #a8a8a8; }
.left_con_middle .no_border { border: 0; }
.mb_30 { margin-bottom: 30px; }
.patent { line-height: 32px; }
.patent_title { display: inline-block; *display: inline;
 *zoom: 1;
font-size: 12px; width: 80%; }
.date { display: inline-block; *display: inline;
 *zoom: 1;
font-size: 12px; width: 17%; }
.videos { margin: 10px 0; overflow: hidden; height: 353px; }
.videos_left { float: left; width: 76.5%; }
.videos_right { float: left; background: #000; height: 353px; width: 19.3%; padding: 10px 10px 10px 10px; }
.videos_right_title { color: #fff; padding-bottom: 10px; }
.videos_right_cur { overflow: hidden; margin-bottom: 15px; }
.videos_right_cur img { width: 70px; height: 40px; margin-right: 6px; float: left;/* border:1px solid #fff;*/ }
.photo_title { color: #666; font-size: 12px; height: 40px; float: left; }
.photo_title a { color: #999; font-size: 14px; }
.photo_title a:hover { color: #ff0000; }
.play_num { clear: both; /*font-size:12px; line-height:20px;*/ margin-bottom: 20px; background: #f3f3f3; line-height: 30px; border-top: #dfdfdf 1px solid; padding: 0 10px; }
.play_num em { font-style: normal; }
.icon_zambia { font-style: normal; padding-left: 16px; line-height: 13px; width: 15px; height: 13px; background-image: url(../images/icon_all.png); background-repeat: no-repeat; background-position: -354px -100px; display: inline-block; *display: inline;
 *zoom: 1;
margin: 0 10px 0 10px; }
.icon_zambia:hover { background-position: -391px -100px; }
.icon_spit { font-style: normal; padding-left: 16px; line-height: 13px; width: 15px; height: 13px; background-image: url(../images/icon_all.png); background-repeat: no-repeat; background-position: -440px -100px; display: inline-block; *display: inline;
 *zoom: 1;
margin: 0 10px 0 10px; position: relative; top: 1px; }
.icon_spit:hover { background-position: -477px -100px; }
.left_con_top .title .local { font-size: 16px; width: 70%; font-weight: normal; margin-bottom: 20px; }
.appendix { float: right; color: #484848; }
.down { border: 1px solid #dfdfdf; margin: 10px 0; float: left; clear: both; color: #484848; padding: 20px 20px 0; box-shadow: 0px 3px 4px #e3e3e3; }
.down .whole { margin-bottom: 40px; }
.down li { float: left; line-height: 25px; margin: 0 0 25px; }
.down li a { float: left; }
.down .down_icon { font-size: 12px; display: block; float: left; margin: 0 10px 0 0; padding: 3px 7px 3px; border: #83c2f7 1px solid; background: #f2f7fb; background: -webkit-linear-gradient(top, #fefeff, #ebf3f9); -webkit-border-radius: 3px; -moz-border-radius: 5px; -o-border-radius: 5px; border-radius: 2px; color: #417dc9; overflow: hidden; line-height: 1.4; margin: 0 30px 0 8px; }
.down .down_icon .icon_down { width: 16px; height: 14px; background-position: -200px -100px; margin: 2px 0px 0 0; }
.down li .sciences { background: url(../images/OA.png) no-repeat; display: inline-block; *display: inline;
 *zoom: 1;
width: 42px; height: 32px; position: relative; top: -19px; left: -128px; font-style: normal; color: #efb2b2; text-align: center; line-height: 20px; }
.down .down_icon:hover { text-decoration: none; background: #fff; }
.Mbtn .collection-un .icon_collection { background-position: -200px -156px; }
.Mbtn .collection:hover .icon_collection, .Mbtn .collection-un:hover .icon_collection { background-position: -350px -156px; }
.share2_bomb { border: 1px solid #b9d0ee; position: absolute; top: 0px; left: 30px; z-index: 100; background: #fff; font-style: normal; text-align: center; padding: 0; }
.share2_bomb a { display: block; width: 110px; font-size: 14px; font-weight: normal; }
.arr { background: url(../images/share2_bomb.png) no-repeat 0px 0px; width: 13px; height: 12px; position: absolute; top: 5px; left: -8px; }
.bowen { margin: 0 0 15px 0; line-height: 15px; font-size: 12px; }
.icon1 { width: 24px; height: 15px; line-height: 15px; float: left; background: url(../images/bowen.png) no-repeat 5px 2px; border-right: 1px solid #417dc9; }
.bowen a { /* border-left:1px solid #417dc9; */ padding-left: 10px; display: inline-block; *display: inline;
 *zoom: 1;
width: 60%; }
.reference .kexue { display: inline-block; *display: inline;
 *zoom: 1;
color: #898989; width: 20%; }
.journal_video { padding-left: 0; overflow: hidden; float: left; position: relative; }
.journal_video .video { height: 215px; margin: 5px 8px 0 0; }
.video_bottom { font-size: 12px; color: #878787; padding: 5px 10px; }
.video_bottom .year { float: left; }
.video_bottom .time { float: right; }
.videolist .title{ padding-left:0; font-size:14px;}
.robot { margin-top: 5px; }
.ResultCont .stop { background: url(../images/stop_video.png) no-repeat; width: 59px; height: 59px; margin-top:-30px; margin-left:-30px; position: absolute; top:33%; left: 50%; }
.journal_video .stop { background: url(../images/stop_video.png) no-repeat; width: 59px; height: 59px;margin-top:-30px; margin-left:-30px; position: absolute;top:33%; left: 50%; }
.export2_bomb { border: 1px solid #b9d0ee; font-size: 14px; font-style: normal; font-weight: normal; background: #fff; z-index: 200; box-shadow: 0px 5px 5px #e3e3e3; line-height: 35px; position: absolute; top: 95px; left: 20px; width: 77%; }
.export2_bomb_left { float: left; width: 18%; background: #f1f1f1; }
.export2_bomb_left a { display: block; padding-left: 20px; border-bottom: 1px solid #dfdfdf; margin-bottom: 1px; }
.export2_bomb_left a:hover, .export2_bomb_left .cur { background: #417dc9; color: #fff; text-decoration: none; }
.export2_bomb_right { float: left; width: 75%; padding: 15px 15px 20px 30px; border-left: 1px solid #dfdfdf }
.survey .icon_empty { background-position: -250px -157px; margin: 3px 0 0; }
.export2_bomb_right_choice { font-size: 12px; line-height: 20px; overflow: hidden; margin-bottom: 10px; }
.export2_bomb_right_choice input { position: relative; top: 2px; left: 0px; margin-right: 5px; }
.choice_left { float: left; margin-right: 20px; font-size: 12px; }
.ResultList_choice .title { font-size: 15px; line-height: 25px; color: #484848; margin-bottom: 8px; }
.ResultList_choice .title a { text-decoration: underline; margin-left: 20px; display: inline-block; *display: inline;
 *zoom: 1;
}
.ResultList_choice .summary { font-size: 12px; line-height: 18px; }
.ResultList_choice .ResultCont { padding: 0 0 8px 0px; margin-left: 20px; }
.mb_20 { margin-bottom: 20px; }
.Catalog { background: #417dc9; color: #fff; /*width:70px; height:35px; display:inline-block;*/ text-align: center; padding: 5px 15px; margin-right: 8px; border-radius: 6px; }
.entry { margin: 20px 20px 0 20px; font-size: 12px; line-height: 30px; }
.entry a { width: 30%; display: inline-block; *display: inline;
 *zoom: 1;
}
.entry span { color: #484848; width: 50%; display: inline-block; *display: inline;
 *zoom: 1;
}
.Catalog_bomb { border: 1px solid #b9d0ee; /*box-shadow: 0px 5px 5px #e3e3e3;*/ margin-bottom: 20px; overflow-y: scroll; font-size: 14px; font-weight: normal; padding: 0 20px 20px; width: 95%; height: 400px; background: #fff; z-index: 100; position: absolute; top: 50px; left: 0px; }
.Bibliography { line-height: 0px; padding: 20px 0 15px; font-weight: bold; }
.chapter { line-height: 30px; }
.chapter dt { line-height: 30px; }
.chapter dd { line-height: 30px; }
.chapter .section { font-weight: normal; }
.section_content { margin-left: 25px; }
.survey .survey_info { border: 0; background: #fff; margin: 0; display: inline; float: none; }
.original_bomb { border: 1px solid #dfdfdf; width: 71%; height: 500px; position: absolute; top: 295px; left: 20px; background: #fff; z-index: 100; box-shadow: 0px 3px 4px #959595; padding: 20px 30px; }
.original_title { float: left; }
.TableL { margin: 5px 0 0 0; padding: 0; border: #dfdfdf 1px solid; margin-left: -1px; border-right: 0; *border-right: #dfdfdf 1px solid;
border-left: 0; }
.TableL li, .TableL th, .TableL td { margin: 0; line-height: 1.75; color: #484848; }
.TableL th, .TableL td { border-left: #eeeeee 1px solid; border-bottom: none; border-bottom: #eeeeee 1px solid\0; +border-bottom: #eeeeee 1px solid;
line-height: 1.75 }
 .TableL .TLwname a:visited{color: #5c219e}
.TableL th { background: #edf7ff; font-weight: bold; white-space: nowrap; }
.TableL li:nth-child(odd), .TableL tr:nth-child(odd) { background: #f7f7f7; }
.TableL li .JouColumn { float: left; }
.TableL li .JouColumn div { border-left: #eeeeee 1px solid; padding: 6px 6px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.TableL li .title { background: #edf7ff; font-weight: bold; }
.TableL .JouColumn div.con { padding: 6px 0px; }
.icon_export { background-position: -0px 0; }
.icon_favorite { background-position: -50px 0; }
.icon_subscribe { background-position: -50px 0; }
.icon_share { background-position: -100px 0; }
.TRank { /* width:5.8%; */ text-align: center; font-size: 12px; }
.Rank { /* width: 30.2%;*/ font-size: 12px; }
.TLwname { /* width: 30.2%;*/ font-size: 12px; }
.Tauthor { /* width: 12%;*/ font-size: 12px; }
.TDate { /* width: 11%; */ text-align: center; font-size: 12px; }
.Tfrequency { /* width:7%;*/ text-align: center; font-size: 12px; }
.TOperate { width: 15%; text-align: center; font-size: 12px; }
.TOperate .OperatBtn1 { float: left; text-align: right; padding: 8px 0 0px 8px; font-size: 12px; font-weight: normal; }
.JouColumn .TOperate .OperatBtn1 a { margin-top: 5px; }
.TOperate .OperatBtn1 a { display: block; float: left; padding: 0 0 8px 8px; line-height: 16px }
.TOperate .OperatBtn1 a .icon { width: 16px; height: 16px; background-image: url(../images/icon_all.png); background-repeat: no-repeat; }
#IntroDiv { font-size: 14px; border-top: #417dc9 2px solid; line-height: 26px; margin-bottom: 25px; }
#IntroDiv h2 { margin: 0; background-color: #eff5fb; font-size: 18px; line-height: 30px; font-weight: normal; padding-left: 40px; padding-top: 10px; }
#IntroDiv h3 { margin: 0; background-color: #eff5fb; font-size: 14px; line-height: 30px; font-weight: normal; padding-left: 40px; color: #0f398b; padding-bottom: 10px; margin-bottom: 10px; }
#IntroDiv h4 { font-size: 14px; padding-left: 40px; line-height: 30px; padding-top: 6px; }
#IntroDiv h4.red { color: #ff0000; font-size: 16px; }
#IntroDiv p { padding-left: 40px; }
#IntroDiv ul { list-style-type: square; list-style-position: inside; }
#IntroDiv ul li { padding-left: 40px; margin: 0; display: list-item; color: #484848; }
#IntroDiv #paper { float: right; width: 350px; margin-top: 30px; border: 3px solid #ccddf1; padding: 16px; line-height: 200%; }
 @media(max-width:991px) {
#IntroDiv #paper { float: none; width: auto; }
}
/*#IntroDiv{font-size:14px; border-top:#417dc9 2px solid;line-height:26px; margin-bottom:25px;}
#IntroDiv h2{margin: 0;background-color:#eff5fb;font-size:18px; line-height:30px; font-weight:normal;padding-left:20px;padding-top:5px;}
#IntroDiv h3{margin: 0;background-color:#eff5fb;font-size:14px;line-height:30px; font-weight:normal;padding-left:20px;color:#0f398b;padding-bottom:5px;margin-bottom:10px;}

#IntroDiv h4{font-size:14px;padding-left:20px; line-height:30px; padding-top:6px;}
#IntroDiv h4.red{ color:#ff0000; font-size:16px;}
#IntroDiv p{padding-left:20px;  }
#IntroDiv ul{list-style-type:square;list-style-position:inside;}
#IntroDiv ul li{padding-left:20px;margin:0; display:list-item;color:#484848;}
#IntroDiv #paper{float:right;width:350px; margin-top:30px;border:3px solid #ccddf1;padding:16px; line-height:200%;}
@media(max-width:991px) {
#IntroDiv #paper{float: none;width: auto;}
}*/


/*检索结果-搜索*/
.top_num { margin-top: 10px; }
.title_back { display: inline-block; *display: inline;
 *zoom: 1;
margin-left: 30px; }
.title_back .Order a { font-size: 14px; font-weight: normal; color: #417DC9; }
.title_back .Volume span { font-weight: normal; }
.title_back div { display: inline-block; *display: inline;
 *zoom: 1;
}
.title_back .Keyword { margin: 0 5px; }
.title .title_back .priority { display: inline-block; *display: inline;
 *zoom: 1;
/*vertical-align: middle;
    white-space: nowrap;*/
border: 1px solid #00d000; line-height: 16px; padding: 0 6px 0 6px; margin: 0 15px; font-size: 12px; font-weight: normal; color: #00d000; }
.title .title_back .priority:hover { color: #00d000; text-decoration: none; }
.title_back .Volume { display: inline-block; *display: inline;
 *zoom: 1;
color: #717171; font-size: 12px; }
.Source .Line { padding: 0 2px; }
.Source .blockspan a { padding-right: 0; }
.distance { padding-right: 10px; }
.ResultInfo { margin-top: 10px; margin-bottom: 10px; }
.ResultInfo div img { display: inline-block; *display: inline;
 *zoom: 1;
vertical-align: middle; cursor: pointer; }
.ResultInfo div { display: inline-block; *display: inline;
 *zoom: 1;
margin-right: 30px; }
.Word .Source span { font-size: 14px; }
.Word .Source span.blockspan { padding-right: 0; }
.Word .Source .Volume { display: inline-block; *display: inline;
 *zoom: 1;
margin-left: 10px; }
.title_front .details strong { margin-right: 20px; }
.title_front .details .Volume { display: inline-block; *display: inline;
 *zoom: 1;
margin-left: 30px; }
.details .location { display: inline-block; *display: inline;
 *zoom: 1;
/*float: right;*/
margin-left: 30px; }
.ResultList .ResultCont_left { padding-left: 0; }
/*.ResultCont .DOAJ {
	padding: 1px;
	background: #6598d9;
	font-size: 12px;
	color: #FFFFFF !important;
	font-weight: normal;
	text-decoration: none;
}*/

.ResultCont .DOAJ img { display: inline-block; *display: inline;
 *zoom: 1;
vertical-align: middle; border: 1px solid #417DC9; }
.Position { text-align: center; }
.FmNav .Indentation .FmNav_list dd div { text-indent: 1em; }
.icon_literature { float: none; display: inline-block; *display: inline;
 *zoom: 1;
width: 14px; position: relative; height: 15px; background: url(../images/icon_all.png) no-repeat -114px -305px; margin-left: 5px; margin-right: 5px; }
.icon_cited { float: none; display: inline-block; *display: inline;
 *zoom: 1;
width: 10px; position: relative; height: 15px; background: url(../images/icon_all.png) no-repeat -151px -307px; margin-left: 5px; margin-right: 5px; }
.view { width: 100%; border: 1px solid #DFDFDF; position: relative; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; margin-bottom: 30px; margin-top: 30px; }
.view_title { width: 110px; height: 30px; line-height: 30px; text-align: center; background: #cce9ff; border: #8dbfe6 1px solid; position: absolute; left: 45px; top: -18px; font-size: 16px; color: #1a4882; }
.view div:last-child { /*width: 87%;*/ /*margin-left: 160px;*/
	/*margin-top: 15px;*/
}
.view ul { margin: 0px 28px 0px; }
.view ul:after { clear: both; content: '.'; display: block; width: 0; height: 0; visibility: hidden; }
.view ul li { float: left; /*width: 148px;*/ position: relative; padding: 38px 20px 30px;/*line-height: 97px;*/ }
.fenxifile_block { position: absolute; background: #fff; background-color: #fff; border: 1px solid #CCCCCC; box-shadow: 3px 3px 3px #d4d4d4; -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,.2); -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,.2); -o-box-shadow: 3px 3px 3px 0px rgba(0,0,0,.2); box-shadow: 3px 3px 3px 0px rgba(0,0,0,.2); padding: 0; font-size: 14px; font-weight: normal; font-style: normal; z-index: 910; width: 160px; margin-bottom: 10px; zoom: 1 }
.fenxifile_block .Mbtn a { font-size: 14px; display: block; float: left; margin: 0 10px 0 0; height: 30px; line-height: 30px; padding: 0 15px; border: #5c9bea 1px solid; background: #417dc9; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; color: #ffffff; margin-bottom: 10px; }
.fenxifile_block .TOperate { width: auto; }
.fenxifile_block .TOperate .icon { margin-top: 10px; margin-left: 5px; }
.Citation_box { border: 1px solid #DFDFDF; position: relative; }
.Citation_title { width: 110px; height: 30px; line-height: 30px; text-align: center; background: #cce9ff; border: #8dbfe6 1px solid; position: absolute; left: 45px; top: -18px; font-size: 16px; color: #1a4882; }
.Citation_tab { height: 40px; line-height: 50px; margin: 20px 28px 10px; font-size: 16px; }
.Citation_tab a { color: #333; padding: 0px 17px 13px; }
.Citation_tab .current, .Citation_tab a:hover { color: #417dc9; text-decoration: none; }
.Citation_table { margin: 0 45px 00px;/*overflow: hidden;*/ position: relative; }
.Citation_table .TableL { margin-top: 5px; border-bottom: 0; }
.Citation_table .TableL th, .Citation_table .TableL td { margin: 0; line-height: 1.75; color: #484848; border-left: 0; }
.Citation_table .TableL .OperatBtn1 { text-align: center; width: 100%; }
.Citation_table .TableL tr th:first-child, .Citation_table .TableL tr td:first-child { border-left: none; padding-left: 20px; }
.Citation_table .TableL th { background: #edf7ff; font-weight: bold; white-space: nowrap; }
.Citation_table .TableL tr:nth-child(odd) { background: #F7F7F7; }
.Citation_table .TableL .JouColumn div { padding: 6px 6px; }
.Citation_table .TableL .JouColumn > div { padding: 6px 4px; }
.Citation_table .TableL .title { background: #edf7ff; font-weight: bold; }
.Citation_table .TableL .JouColumn.author { font-size: 14px; line-height: 1.95; }
.Citation_table .TableL .Operate { /*width: 18%;*/ white-space: nowrap; text-align: center; }
.Citation_table .TableL .OperatBtn1 { float: left; text-align: right; font-size: 12px; font-weight: normal; }
.Citation_table .TableL .OperatBtn1 a { display: inline-block; *display: inline;
 *zoom: 1;
padding: 0 4px 0 4px; line-height: 16px; margin-right: 15px; position: relative; }
.Distribute_box { margin-top: 30px;/*overflow: hidden;*/ padding-bottom: 60px; }
.Distribute_chart { text-align: center; }
.search_box { margin-top: 20px; }
.search_box div { height: 36px; line-height: 36px; font-size: 16px; }
.search_box div:first-child a { padding-left: 15px; }
.search_box div button { border: 0; color: #FFFFFF; height: 32px; line-height: 32px; padding: 0 25px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px; font-size: 14px; background: -ms-linear-gradient(top, #407cc8, #2d68b4); background: -webkit-linear-gradient(top, #407cc8, #2d68b4); background: -moz-linear-gradient(top, #407cc8, #2d68b4); background: -webkit-gradient(linear, 0 0, 0 bottom, from(#407cc8), to#2d68b4); background: -o-linear-gradient(top, #407cc8, #2d68b4); background: #2d68b4\9; margin-right: 15px; margin-left: 5px; }
.Distribute_box .Citation_table button { border: 0; color: #FFFFFF; height: 32px; line-height: 32px; padding: 0 25px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px; /*background: #407cc8;*/ background: -ms-linear-gradient(top, #407cc8, #2d68b4); background: -webkit-linear-gradient(top, #407cc8, #2d68b4); background: -moz-linear-gradient(top, #407cc8, #2d68b4); background: -webkit-gradient(linear, 0 0, 0 bottom, from(#407cc8), to#2d68b4); background: -o-linear-gradient(top, #407cc8, #2d68b4); background: #2d68b4\9; position: absolute; top: 360px; left: 0; }
.Distribute_table .scroll_box { height: 345px; overflow-y: scroll; /*display: inline-block;*/ border: 1px solid #DFDFDF; float: left; }
.Distribute_table .TableL { width: 270px; /*float: left;*/ border-top: 0; margin-top: 0;/*border: 1px solid #DFDFDF;*/ }
.Distribute_table .TableL td input { margin-right: 5px; display: inline-block; *display: inline;
 *zoom: 1;
vertical-align: middle; }
.Distribute_table .TableL tr:nth-child(odd) { background: #FFFFFF; }
.icon_list { float: none; display: inline-block; *display: inline;
 *zoom: 1;
position: relative; width: 13px; height: 7px; background: url(../images/icon_all.png) no-repeat -223px -309px; margin-left: 5px; }
.Distribute_chart_right { margin-left: 380px; padding: 35px 0; }
.Distribute_chart_right img { width: 100%; }
.fenxi_pop { position: relative;/* float:left;*/ display: inline-block; *display:inline;
*zoom:1;
z-index: 9; }
.fenxi_block { position: absolute; background: #fff; background-color: #fff; border: 1px solid #CCCCCC; box-shadow: 3px 3px 3px #d4d4d4; -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,.2); -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,.2); -o-box-shadow: 3px 3px 3px 0px rgba(0,0,0,.2); box-shadow: 3px 3px 3px 0px rgba(0,0,0,.2); padding: 0; text-align:left; font-size: 14px; font-weight: normal; font-style: normal; z-index: 910; width: 160px; margin-bottom: 10px; zoom: 1 }
.fenxi_block div { line-height: 30px; padding: 5px 20px; cursor: pointer; }
.fenxi_block div:hover { background: #cce9ff; }
.TOperate .fenxi_block a { display: inline; padding: 0; float: none }
/*搜学术论文 目录弹框*/
.list_catalogue_btn { display: inline-block; *display:inline;
*zoom:1;
font-size: 12px; font-weight: normal; border: 0; color: #fff;-webkit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; line-height: 19px; padding: 0px 5px; margin: 0 6px; background:#8ec8b0; }
.pop_catalogue { margin: 0 40px; position: relative }
.popup.cata_pop_max { width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; }
.popup.cata_pop { width: 900px; height: 600px; margin-top: -300px; margin-left: -450px; }
.list_catalogue_btn:hover { background-color: #f3f3f3; }
.pop_catalogue .box_right { position: absolute; right: 30px; top: 65px; }
.pop_catalogue .box_right a { display: block; width: 56px; height: 56px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background: #fff; border: #bebebe 1px solid; font-size: 12px; text-align: center; margin-bottom: 10px; }
.pop_catalogue .box_right a:hover { background: #f3f3f3; color: #417dc9; text-decoration: none; }
.pop_catalogue .box_right a i { width: 20px; height: 20px; display: block; background: url(../images/icon_all.png) no-repeat; margin: 10px auto 5px; }
.box_right a.news_down i { background-position: -40px -302px; }
.box_right a.news_full i { background-position: 0px -340px; }
.box_right a.news_nofull i { background-position: -100px -340px; }
.box_right a.news_gototop i { background-position: -50px -340px; }
.pop_catalogue .title { font-size: 26px; text-align: center; font-weight: bold; color: #417dc9; }
.catalogue_block { margin: 15px 0; height: 460px; padding-right: 20px; overflow-y: scroll; padding-right: 110px }
.cata_pop_max .catalogue_block { height: 80vh; height: 80%\9; width: 80%\9; position: fixed\9 }
.catalogue_block li { padding: 10px 0; line-height: 20px; font-size: 16px; color: #484848; font-weight: bold; }
.catalogue_block ul ul li { background: url(../images/catalogue_bg.gif) repeat-x 0 6px; margin-left: 20px; padding: 2px 0; }
.catalogue_block ul ul ul li { background: url(../images/catalogue_bg.gif) repeat-x 0 6px; margin-left: 60px; }
.catalogue_block ul ul li div { display: inline-block; *display:inline;
*zoom:1;
background: #fff; font-size: 16px; font-weight: normal; padding: 3px 10px 3px 0 }
.catalogue_block ul ul ul li div { display: inline-block; *display:inline;
*zoom:1;
background: #fff; font-size: 14px; font-weight: normal; padding: 3px 10px 3px 0 }
.catalogue_block ul span { float: right; background: #fff; padding: 3px 0px 3px 10px; font-size: 14px; font-weight: normal; }
.survey tr td{vertical-align: baseline;}
 table.survey{border-collapse: separate;}
 
 .show-infor-btn{position: relative;}
 .show-infor-btn .icon_box{left:55px;top:0;}
 #theme_content{padding-left:10px;}
 /*作者信息修改*/
 .wrap-author-Info{
    padding-left:20px;
 }

 .result_new_operaWrap .result_new_operaCenter ul li a span,.other_span .otherlink_pop li a span, #search_div_list_show .ResultList .OperatBtn2 li a span{
  position: static;
  display: inline-block;
  color: #fff;
  right: 0;
  top: -2px;
  padding: 0 1px;
  line-height: initial;
  width: 22px;
  height: 11px;
  text-indent: -9999px;
 }
 .other_span .otherlink_pop li{
  position: relative;
 }
 .result_new_operaWrap .result_new_operaCenter ul li a span.type1,.other_span .otherlink_pop li a span.type1, #search_div_list_show .ResultList .OperatBtn2 li a span.type1{
  background: url("./images/type1.png");
 }

 .result_new_operaWrap .result_new_operaCenter ul li a span.type2,.other_span .otherlink_pop li a span.type2, #search_div_list_show .ResultList .OperatBtn2 li a span.type2{
  width: 10px;
  background: url("./images/type2.png");
 }

 .result_new_operaWrap .result_new_operaCenter ul li a span.type3,.other_span .otherlink_pop li a span.type3, #search_div_list_show .ResultList .OperatBtn2 li a span.type3{
  width: 10px;
  background: url("./images/type3.png");
 }
 #search_div_list_show .ResultList .OperatBtn2 li a i{
  display: none;
 }
 .result_new_operaWrap .result_new_operaCenter ul li>i{
  color: #ccc;
  margin-left: 8px!important;
 }

 #search_div_list_show .ResultList .OperatBtn2 li a span{

 }

 .result_new_operaWrap .result_new_operaCenter ul li:last-child>i,.fenxi_pop  .fenxi_block .middleCont  ul li i{
  display:none;
 }
 .other_span .otherlink_pop li a{
  line-height: 28px;
 }
 .other_span .otherlink_pop li i{
  display:none;
 }
 
 .Mbtn .type1{
	position: absolute;
	display: block;
	color: #fff;
	left: 30px;
	top: 9px;
	padding: 0 1px;
	line-height: initial;
	width: 22px;
	height: 11px;
	text-indent: -9999px;
	display: block;
	z-index: 999;
}

.Mbtn .type1{
	background: url("./images/type1.png");
}
 
/*让a标签换行  在需要的class='info_right'中添加info_right_newline*/
 .info_right_newline a{
 display: inline-block;
 }

/*论文详情页 free图标添加*/
 .left_con_top .info .info_right a {
  position: relative;
 }
 .left_con_top .info .free_icon {
  background: url("./images/type1.png");
  position: absolute;
  display: block;
  color: #fff;
  right: -15px;
  top: -4px;
  padding: 0 1px;
  line-height: initial;
  width: 22px;
  height: 11px;
  text-indent: -9999px;
  display: block;
 }

.retrieve_entrance-icon{
 display: inline-block;
 width: 16px;
 height: 16px;
 background: url(/page/images/retrieve_entrance-icon.png) no-repeat center center;
 margin-right: 5px;
 vertical-align: -2px;
}
.Mbtn a .collected {
 text-decoration: none;
 background: rgb(65, 125, 201);
 color: rgb(255, 255, 255);
}
.Mbtn a .collected i {
 background-position: -16px -61px;
}
.Mbtn >a {
 width: 63px;
}
.Mbtn .core {
 display: block;
 font-size: 12px;
 height: 22px;
 background: #fff;
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 -o-border-radius: 3px;
 border-radius: 3px;
 color: #1b5db1;
 position: relative;
 overflow: hidden;
 vertical-align: middle;
 line-height: 22px;
 border: solid 1px #417dc9;
 margin-left: 11px;
}
.Mbtn .core .icon_free {
 width: 21px;
 background: url(../images/newIconFont.png) no-repeat -2px -35px;
 height: 17px;
 display: inline-block;
 margin-right: 2px;
}
.Mbtn .core:hover {
 background: rgb( 65, 125, 201 )
}
.Mbtn .core .icon_export {
 background: url(./images/result_list_icons.png);
 width: 16px;
 height: 17px;
 display: inline-block;
 margin-right: 7px;
 background-position: -68px -44px;
}
 .Mbtn .detail_icon_export:hover>i {
  background-position: -68px -60px;
 }
 .Mbtn .core .icon_down {
  background: url(./images/result_list_icons.png);
  width: 16px;
  height: 17px;
  display: inline-block;
  margin-right: 7px;
  background-position: -33px -44px;
 }
 .Mbtn .core .icon_book {
  background: url(../images/result_list_icons.png);
  width: 18px;
  height: 16px;
  display: inline-block;
  background-position: -50px -44px;
  margin-right: 6px;
  position: relative;
 }
 .Mbtn .core .icon_other {
  background: url(../images/newIconFont.png) no-repeat -2px -72px;
  width: 14px;
  height: 14px;
  display: inline-block;
  margin: -9px 6px 0 -5px;
 }
 .Mbtn .core .icon_paper {
  background: url(../images/newIconFont.png) no-repeat -2px -2px;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 7px;
  vertical-align: middle;
 }
 .Mbtn .core:hover>.icon_other {
  background: url(../images/newIconFont.png) no-repeat -2px -90px;
  width: 14px;
  height: 14px;
  display: inline-block;
  margin: -9px 6px 0 -5px;
 }
 .Mbtn a .icon_free {

 }
 /*期刊论文标签样式*/
 .perio_paper_label {
    margin: 10px 0;
    overflow-y:hidden ;
    height: 40px;
 }
 .perio_paper_label.change-height {
  height: auto;
 }
 .perio_paper_label span{
  display: inline-block;
  border: 1px solid rgb(253,138,21);
  height: 28px;
  padding: 0 15px;
  margin: 5px 5px 5px 0;
  line-height: 28px;
  color: rgb(253,138,21);
  border-radius: 5px;
  font-size: 14px;
 }
 .perio_paper_label span.add-user-label {
  cursor: pointer;
 }
 /*.perio_paper_label span:hover, .perio_paper_label span.self-label {*/
  /*background: rgb(253,138,21);*/
  /*color: #fff;*/
 /*}*/
 .perio_paper_label .get-more-labels {
  position: absolute;
  height: 20px;
  background: #fff;
  z-index: 111;
  top: 41px;
  right: 10px;
  cursor: pointer;
 }
 .perio_paper_label .get-more-labels .get-more-label-icon1 {
 width: 0;
 height: 0;
 border-top: 8px solid #666;
 border-left: 8px solid #fff;
 border-bottom: 0;
 border-right: 8px solid #fff;
}
 .perio_paper_label .get-more-labels .get-more-label-icon2 {
  width: 0;
  height: 0;
  position: absolute;
  border-top: 5px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 0px;
  left: 3px;
  z-index: 1;
 }
 .perio_paper_label .get-more-labels .get-more-label-icon1.up-label {
  border-bottom: 8px solid #666;
  border-top: 0;
 }
 .perio_paper_label .get-more-labels .get-more-label-icon2.up-label {
  top: 3px;
  border-bottom: 5px solid #fff;
  border-top: 0;
 }

 div.add-label-container {
  position: absolute;
  top: 70px;
  display:none;
  background: #fff;
  z-index: 1;
  box-shadow: 0 0 3px 2px #ddd;
  border-radius: 5px;
  width: 500px;
  border: 1px solid #ddd;
 }
 div.add-label-container .add-label-title {
  height: 44px;
  border-bottom: 1px dashed #ccc;
  line-height: 44px;
  padding: 0 15px;
  color: #666;
 }
 div.add-label-container i.close-icon {
  font-style: normal;
  font-family: '宋体';
  color: #999;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
 }
 div.add-label-container div.add-label-content {
  padding: 20px 30px;
 }
 div.add-label-content .add-label-item{
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   max-width: 300px;
  padding-right: 18px;
  position: relative;
 }
 div.add-label-content .add-label-item i{
  position: absolute;
  right: 6px;
  top: -3px;
 }
 div.add-label-container .operate-bannel {
  height: 70px;
  border-top: 1px solid #ccc;
  text-align: center;
 }
 div.add-label-container .input-container  {
  width: 420px;
  border: 1px solid rgb(204,204,204);
  border-radius: 3px;
  height: 32px;
 }
 div.add-label-container .input-container:focus,  div.add-label-container .input-container input:focus {
  outline: none;
 }
 div.add-label-container .input-container input {
  float:left;
  border: none;
  width: 330px;
  height: 32px;
  padding: 0 5px;
 }
 div.add-label-container .input-container button {
  background: #417dc9;
  color: #fff;
  border-radius: 3px;
  width: 80px;
  height: 32px;
  padding: 0;
  border: 0;
 }
 div.add-label-container .operate-bannel button {
  width: 95px;
  height: 33px;
  margin: 15px;
  padding: 0;
  border: 0;
  border-radius: 5px;
  border: 1px solid #417dc9;
 }
 div.add-label-container .operate-bannel button.submit {
  background: #417dc9;
  color: #fff;
 }
 div.add-label-container .operate-bannel button.reset {
  background: #fff;
  color: #417dc9;
 }
 .added-labels-list {
  float: right;
  width: 335px;
 }
 .added-labels-list>span, .suggest-labels-list span {
  display: inline-block;
  border: 1px solid rgb(253,138,21);
  height: 28px;
  padding: 0 15px;
  margin: 5px 5px 5px 0;
  line-height: 28px;
  color: rgb(253,138,21);
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
 }
 .added-labels-list>span {
  cursor: auto;
 }
 .added-labels-list>span>i {
  display: inline-block;
  font-family: '宋体';
  font-style: normal;
  margin-left: 10px;
  color: #999;
  font-size: 12px;
  margin-right: -5px;
  cursor: pointer;
 }
 .added-label-container {
  overflow: hidden;
  margin: 20px 0;
  margin-top: 0;
 }
 .added-label-container .added-count-container {
  float: left;
  line-height: 38px;
  width: 96px;
  width: 96px;
 }
.added-labels .suggest-label-title {
 margin-top: 25px;
 line-height: 30px;
 color: #666;
}
 .suggest-labels-list span.added-suggest-label {
  color: #fff;
  background: rgb(253,138,21);
 }
 .suggest-labels-list span.suggest-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 432px;
 }
 .added-labeld-list>span:hover, .suggest-labels-list span:hover {
  background: rgb(253,138,21);
  color: #fff;
 }
 /*有用没用*/
 .statistics-useful{
  position: fixed;
  z-index: 100;
  width: 100px;
  left: calc((100vw - 1300px)/2 - 78px);
  top: 300px;
  text-align: center;
  display: none;
  /*position: fixed;*/
  /*left: 50%;*/
  /*margin-left: -546px;*/
 }
 .statistics-useful .statistics-useful-item{
  height: 60px;
  margin-bottom: 20px;
 }
 .statistics-useful .statistics-useful-item .statistics-useless, .statistics-useful .statistics-useful-item .statistics-use{
  width: 36px;
  height: 36px;
  background-repeat:no-repeat;
  background-position: center center;
  background-color: #cbe1fe;
  border-radius: 50%;
  margin: 5px auto;
  cursor: pointer;
 }
 .statistics-useful .statistics-useful-item .statistics-useless{
  background-image: url("../images/icon-userless.png");
 }
 .statistics-useful .statistics-useful-item .statistics-use{
  background-image: url("../images/icon-user.png");
 }
 .statistics-useful .statistics-useful-item .statistics-use:hover,.statistics-useful .statistics-useful-item .statistics-useless:hover{
 background-color:#5e9ae5 ;
 }
 .statistics-useful .statistics-useful-item .statistics-use-active{
  background-color: #5e9ae5;
 }
 .useful-num{
  color: #666;
  font-size: 14px;
 }
 .statistics-useful em{
  font-style: normal;
 }

 /*省略号兼容*/
 .ResultCont .summary {
  position: relative;
 }
 .ResultCont .summary .compatible {
  /*position: absolute;*/
  display: inline-block;
  width: 15px;
  height: 23px;
  background: #fff;
  z-index: 999;
  top: 20px;
  right: 6px;
 }