<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学者关系网</title>
    <!-- jquery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <!-- 引入js脚本文件 -->
    <script src="/js/request.js"></script>
    <script src="/js/authorNetWork.js"></script>
    <script src="/js/echarts.js"></script>

    <link href="/css/public.css" rel="stylesheet" type="text/css">
    <link href="/css/authorNetWork.css" rel="stylesheet" type="text/css">
    <!--导航框样式-->
    <link href="/css/public.css" rel="stylesheet" type="text/css">
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>

    <div class="top me-top">
        <div class="container me-container">
            <style>
                    .anxs-top-88qwe-logo_sns{padding: 9px 0;float: left;height:84px;box-sizing: border-box;}.anxs-top-88qwe-logo_sns a{color: #333;cursor: pointer;text-decoration: none}.anxs-top-88qwe-logo_sns .anxs-top-88qwe-imgwrapper{margin-right:25px;display: block;float: left;}.anxs-top-index_sns{float: left;line-height: 60px;}.anxs-top-88qwe-logo_sns .nav_color_index{font-size: 16px;vertical-align: middle; margin: 0 10px;}.anxs-top-88qwe-logo_sns .nav_color_index:hover{color: #427dc9;}
                </style>
            <div class="anxs-top-88qwe-logo_sns">
                <div class="anxs-top-index_sns">
                    <a href="/searchPage" class="nav_color_index">首页</a>
                    <span> &nbsp;&nbsp;&nbsp;>>&nbsp;&nbsp;&nbsp;</span>

                </div>
            </div>
        </div>
    </div>



    <div id="authorNetWork" style="width: 95%;height:800px;"></div>



</body>
</html>